@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 77, 59);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  color: white;
  background-color: rgba(25, 44, 85, 0.298);
}

main {
  background-color: rgb(164, 240, 160);
  top: 5rem;
  text-align: center;
  border: 1px solid black;
  font-size: 1.3rem;
  align-self: center;
}

a {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(80, 163, 210, 0.802);
}
a:hover {
  color: aliceblue;
  background-color: black;
}
